<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include( "partials/header.ejs" ) %>
    <title>Deckmainia | Name</title>
</head>
    <body>
        <%- include( "partials/gameboard.ejs" ) %>
        <%- include( "navigation/game.ejs" ) %>
        <div class="container" id="page_game">
            <div class="header small">
                <% if ( basic.is18Plus == true ) { %>
                    <div class="badge">18+</div>
                <% } %>
                <h1><%= basic.name %></h1>
                <h2 class="mute"><%= basic.size %> Cards</h2>
            </div>
            <p>
                <%= basic.description %>
            </p>
            <br>
            <div class="controller">
                <button>Play Deck</button>
            </div>
        </div>
    </body>
</html>