<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include( "partials/header.ejs" ) %>
        <title>Deckmainia | Explore</title>
    </head>
    <body class="theme_light">

        <div class="navigation sticky">
            <div class="ribbon">
                <div class="container">
                    <div class="ribbon-container">
                        <div class="ribbon-item showScrolled ribbon-item-grow">
                            <p>Deckmainia Explore</p>
                        </div>
                        <a href="/search" class="ribbon-item ribbon-item-hoverable pad-right">
                            <svg viewbox="0 0 24 24" width="24" height="24" stroke="grey" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                                <circle cx="11" cy="11" r="8"></circle>
                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                            </svg>
                        </a>
                        <a href="/options" class="ribbon-item ribbon-item-hoverable" id="navActiveMenu" >
                            <svg viewbox="0 0 24 24" width="24" height="24" stroke="gray" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                                <circle cx="12" cy="12" r="1"></circle>
                                <circle cx="12" cy="5" r="1"></circle>
                                <circle cx="12" cy="19" r="1"></circle>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="page_home">
            <div class="header small">
                <h1>Deckmainia Explore</h1>
                <h2 class="mute">Card Decks for Every Situation</h2>
            </div>

            <br>

            <% for ( let i = 0; i < sections.length; i++ ) { %>
                <p class="m-0">
                    <b><%= sections[ i ].title %></b>
                </p>
                <div class="deck-section">
                    <div class="scroll">
                        <% for ( let j = 0; j < sections[ i ].decks.length; j++ ) { %>
                            <a class="deck" data-name="<%= sections[ i ].decks[ j ].name %>" data-description="<%= sections[ i ].decks[ j ].description %>" href="/deck/<%= sections[ i ].decks[ j ].id %>">
                                <% if ( sections[ i ].decks[ j ].is18Plus == true ) { %>
                                    <div class="badge">18+</div>
                                <% } %>
                                <img class="emoji" src="<%= sections[ i ].decks[ j ].emoji %>">
                                <div class="title"><%= sections[ i ].decks[ j ].name %></div>
                            </a>
                        <% } %>
                    </div>
                </div>
                <br>
            <% } %>
        </div>
    </body>
</html>
